@import url(
    'https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700&display=swap'
);


*{
    margin: 0;
    padding: 0;
}


body{
    background-color: #002366;
}


/* Home Quiz Section */

#home-icon{
    background-image: url(../images/home-icon.png);
    background-repeat: no-repeat;
    height: 140px;
    width: 320px;
    position: absolute;
    margin-top: 1rem;
    margin-left: 4rem;
    box-shadow: 0 6px 20px #FFA500;
}

#home-icon-text{
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    color: #FFFFFF;
    position: absolute;
    margin-top: 4.2rem;
    margin-left: 12.5rem;
}

#home-quiz-heading{
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    font-size: 34px;
    position: absolute;
    margin-top: 14rem;
    margin-left: 10rem;
}

label{
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    font-size: 28px;
    display: inline-block;
    margin-top: 28rem;
    margin-left: 34rem;
}

#name{
   height: 1.6rem;
   width: 14.2rem;
   margin-left: 0.6rem;
}

#error-message{
    font-family: 'Open Sans', sans-serif;
    color: #FFA500;
    display: none;
}

#submit-name{
    font-family: 'Open Sans', sans-serif;
    background-color: #FFA500;
    border-color: #E6E6E6;
    color: #FFFFFF;
    padding: 1.2rem 1.2rem;
    text-align: center;
    display: inline-block;
    position: absolute;
    font-size: 20px;
    margin-top: 27rem;
    margin-left: 4.5rem;
    cursor: pointer;
    border-radius: 2rem;
}

.quiz-play-button{
    font-family: 'Open Sans', sans-serif;
    background-color: #FFA500;
    border-color: #E6E6E6;
    color: #FFFFFF;
    padding: 2rem 2rem;
    text-align: center;
    display: inline-block;
    position: absolute;
    margin-top: 16rem;
    margin-left: 46rem;
    font-size: 20px;      
    cursor: pointer;    
    border-radius: 2rem;
}

/* Quiz Section */

#quiz{
    height: 580vh;
    width: 100%;
}

#quiz-icon{
    background-image: url(../images/general-knowledge-icon.png);
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
    position: absolute;
    margin-top: 54rem;
    margin-left: 5.8rem;
    box-shadow: 0 8px 30px #FFA500;
    border-radius: 25%;
}

#quiz-heading{
    font-family: 'Lato', sans-serif;
    font-size: 34px;
    color: #FFFFFF;
    position: absolute;
    margin-top: 60rem;
    margin-left: 18rem;
}

#quiz-name{
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color: #FFFFFF;
    display: block;
    position: absolute;
    margin-top: 64rem;
    margin-left: 70rem;
    text-decoration: underline;
}

.quiz-question{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: #FFFFFF;
    position: absolute;
    margin-top: 72rem;
    margin-bottom: 20rem;
    margin-left: 5.8em;
    font-weight: bold;
}

.quiz-answers{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    margin-top: 75rem; 
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    position: absolute;  
    margin-left: 8.8rem;
    line-height: 6;
    font-weight: bold;
}

.submit-answer{
    font-family: 'Open Sans', sans-serif;
    background-color: #FFA500;
    border-color: #E6E6E6;
    color: #FFFFFF;
    padding:  1rem 1rem;
    position: absolute;
    font-size: 14.4px;
    margin-top: 105rem;
    margin-left: 8.8rem;
    cursor: pointer;
}

.return-main-menu{
    font-family: 'Open Sans', sans-serif;
    background-color: #FFA500;
    border-color: #E6E6E6;
    color: #FFFFFF;
    padding: 2rem 2rem;
    text-align: center;
    display: inline-block;
    position: absolute;
    font-size: 20px;
    margin-top: 105rem;
    margin-left: 76rem;
    cursor: pointer;
    border-radius: 2rem;
}

.score{
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
}

#quiz-timer{
    font-family: 'Open Sans', sans-serif;
    font-size: 19.8px;
    color: #FFA500;
    position: absolute;
    margin-top: 68rem;
    margin-left: 46rem;
}


/* Leaderboard styles */

.leaderboard-heading{
    font-family: 'Open Sans', sans-serif;
    font-size: 34px;
    color: #FFFFFF;
    position: absolute;
}




