@import url(
    'https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700&display=swap'
);


*{
    margin: 0;
    padding: 0;
}


body{
    background-color: #002366;
}


/* Home Quiz Section */

#home-icon{
    background-image: url(../images/home-icon.png);
    background-repeat: no-repeat;
    height: 140px;
    width: 320px;
    position: absolute;
    margin-top: 1rem;
    margin-left: 4rem;
    box-shadow: 0 6px 20px #FFA500;
}

#home-icon-text{
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    color: #FFFFFF;
    position: absolute;
    margin-top: 4.2rem;
    margin-left: 12.5rem;
}

#home-quiz-heading{
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    font-size: 40px;
    position: absolute;
    margin-top: 10rem;
}


/* Quiz Section */

#quiz{
    height: 580vh;
    width: 100%;
}

#quiz-heading{
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    color: #FFFFFF;
    position: absolute;
    margin-top: 16rem;
}



