@import url(
    'https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700&display=swap'
);


*{
    margin: 0;
    padding: 0;
}


body{
    background-color: #002366;
}


#home-quiz-heading{
    color: #FFFFFF;
    font-size: 40px;
}


