@import url(
    'https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700&display=swap'
);


*{
    margin: 0;
    padding: 0;
}


body{
    background-color: #002366;
}


/* Home Quiz Section */

#home-icon{
    background-image: url(../images/home-icon.png);
    background-repeat: no-repeat;
    height: 140px;
    width: 320px;
    position: absolute;
    margin-top: 1rem;
    margin-left: 4rem;
    box-shadow: 0 6px 20px #FFA500;
}

#home-icon-text{
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    color: #FFFFFF;
    position: absolute;
    margin-top: 4.2rem;
    margin-left: 12.5rem;
}

#home-quiz-heading{
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    font-size: 40px;
    position: absolute;
    margin-top: 18rem;
}


/* Quiz Section */

#quiz{
    height: 580vh;
    width: 100%;
}

#quiz-icon{
    background-image: url(../images/general-knowledge-icon.png);
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
    position: absolute;
    margin-top: 54rem;
    margin-left: 5.8rem;
    box-shadow: 0 8px 30px #FFA500;
    border-radius: 25%;
}

#quiz-heading{
    font-family: 'Lato', sans-serif;
    font-size: 34px;
    color: #FFFFFF;
    position: absolute;
    margin-top: 60rem;
    margin-left: 18rem;
}

.quiz-question{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: #FFFFFF;
    position: absolute;
    margin-top: 72rem;
    margin-bottom: 20rem;
    margin-left: 5.8em;
}

.quiz-answers{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    margin-top: 80rem;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    position: absolute;  
    margin-left: 8.8rem;
    line-height: 4rem;
}




